Source: ros-eloquent-ros2-ouster
Section: misc
Priority: optional
Maintainer: Steve Macenski <stevenmacenski@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-apps1.8, libpcl-common1.8, libpcl-features1.8, libpcl-filters1.8, libpcl-io1.8, libpcl-kdtree1.8, libpcl-keypoints1.8, libpcl-ml1.8, libpcl-octree1.8, libpcl-outofcore1.8, libpcl-people1.8, libpcl-recognition1.8, libpcl-registration1.8, libpcl-sample-consensus1.8, libpcl-search1.8, libpcl-segmentation1.8, libpcl-stereo1.8, libpcl-surface1.8, libpcl-tracking1.8, libpcl-visualization1.8, ros-eloquent-ament-cmake, ros-eloquent-ament-lint-auto, ros-eloquent-ament-lint-common, ros-eloquent-builtin-interfaces, ros-eloquent-geometry-msgs, ros-eloquent-launch, ros-eloquent-launch-ros, ros-eloquent-ouster-msgs, ros-eloquent-pcl-conversions, ros-eloquent-rclcpp, ros-eloquent-rclcpp-components, ros-eloquent-rclcpp-lifecycle, ros-eloquent-sensor-msgs, ros-eloquent-std-srvs, ros-eloquent-tf2-geometry-msgs, ros-eloquent-tf2-ros, ros-eloquent-visualization-msgs, ros-eloquent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-ros2-ouster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-apps1.8, libpcl-common1.8, libpcl-features1.8, libpcl-filters1.8, libpcl-io1.8, libpcl-kdtree1.8, libpcl-keypoints1.8, libpcl-ml1.8, libpcl-octree1.8, libpcl-outofcore1.8, libpcl-people1.8, libpcl-recognition1.8, libpcl-registration1.8, libpcl-sample-consensus1.8, libpcl-search1.8, libpcl-segmentation1.8, libpcl-stereo1.8, libpcl-surface1.8, libpcl-tracking1.8, libpcl-visualization1.8, ros-eloquent-builtin-interfaces, ros-eloquent-geometry-msgs, ros-eloquent-launch, ros-eloquent-launch-ros, ros-eloquent-ouster-msgs, ros-eloquent-pcl-conversions, ros-eloquent-rclcpp, ros-eloquent-rclcpp-components, ros-eloquent-rclcpp-lifecycle, ros-eloquent-sensor-msgs, ros-eloquent-std-srvs, ros-eloquent-tf2-geometry-msgs, ros-eloquent-tf2-ros, ros-eloquent-visualization-msgs, ros-eloquent-ros-workspace
Description: ROS2 Drivers for the Ouster OS-1 Lidar
